/* KEYFRAME */

* {
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: left;
    /* align-self: center; */
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/parallax/10_Sky.png');
    background-size: cover;
}


/* START BACKGROUNDS */

.background {
    position: relative;
    width: 100vw;
}

.bg_01 {
    height: 100vh;
    background: url("../img/parallax/01_Mist.png") repeat-x;
    animation: background-animation 5s linear infinite;
    opacity: 0.8;
    background-size: contain;
    z-index: 1;
}

.bg_02 {
    background: url("../img/parallax/02_Bushes.png") repeat-x;
    animation: background-animation 9s linear infinite;
    background-size: contain;
}

.bg_03 {
    background: url("../img/parallax/03_Particles.png") repeat-x;
    animation: background-animation 20s linear infinite;
    background-size: contain;
}

.bg_04 {
    background: url("../img/parallax/04_Forest.png") repeat-x;
    animation: background-animation 30s linear infinite;
    background-size: contain;
}

.bg_05 {
    background: url("../img/parallax/05_Particles.png") repeat-x;
    animation: background-animation 40s linear infinite;
    background-size: contain;
}

.bg_06 {
    background: url("../img/parallax/06_Forest.png") repeat-x;
    animation: background-animation 50s linear infinite;
    background-size: contain;
}

.bg_07 {
    background: url("../img/parallax/07_Forest.png") repeat-x;
    animation: background-animation 60s linear infinite;
    background-size: contain;
}

.bg_08 {
    background: url("../img/parallax/08_Forest.png") repeat-x;
    animation: background-animation 70s linear infinite;
    background-size: contain;
}

.bg_09 {
    background: url("../img/parallax/09_Forest.png") repeat-x;
    animation: background-animation 80s linear infinite;
    background-size: contain;
}

@keyframes background-animation {
    0% {
        background-position: 1920px;
    }
    100% {
        background-position: 0;
    }
}


/* END BACKGROUNDS */

.obstacle_01 {
    background: url('../img/obstacle/obstacle.png') no-repeat;
    position: absolute;
    bottom: 0;
}

.obstacle_02 {
    background: url('../img/obstacle/obstacle.png') no-repeat;
    position: absolute;
    transform: rotate(180deg);
    top: 0;
}

.obstacle_03 {
    background: url('../img/obstacle/obstacle.png') no-repeat;
    position: absolute;
    bottom: 0;
}

.obstacle_04 {
    background: url('../img/obstacle/obstacle.png') no-repeat;
    position: absolute;
    transform: rotate(180deg);
    top: 0;
}

.obstacle_05 {
    background: url('../img/obstacle/obstacle.png') no-repeat;
    position: absolute;
    bottom: 0;
}

.obstacle_06 {
    background: url('../img/obstacle/obstacle.png') no-repeat;
    position: absolute;
    transform: rotate(180deg);
    top: 0;
}

.coin-container {
    top: 250px;
    position: absolute;
    width: 50px;
    height: 60px;
    display: none;
}

.coin_01 {
    top: 100%;
    width: 50px;
    height: 60px;
    background: url('../img/coin.png') left center;
    animation: coin .8s steps(8) infinite;
}

@keyframes coin {
    100% {
        background-position: -438px;
    }
}

#playerDivContainer {
    top: 250px;
    position: absolute;
    width: 100px;
    height: 90px;
    left: 100px;
}

.player {
    top: 100%;
    width: 100px;
    height: 100px;
    background: url('../img/walk1.png') left center;
    animation: play .8s steps(4) infinite;
}

.playerUp {
    top: 100%;
    width: 100px;
    height: 100px;
    background: url('../img/walk1.png') left center;
    animation: play .10s steps(4) infinite;
}

@keyframes play {
    100% {
        background-position: -400px;
    }
}

.menu-container {
    top: 40%;
    left: 40%;
    position: absolute;
    animation: breathing 3s linear infinite;
    cursor: pointer;
    z-index: 2;
}

.start {
    width: 100%;
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.score-container {
    top: 0%;
    right: 0%;
    position: absolute;
    cursor: pointer;
    z-index: 0;
    padding-right: 5%;
}

.score {
    width: 140%;
}

.scoreInfo {
    position: absolute;
    top: 45%;
    left: 40%;
    color: white;
    transform: translate(-50%, -50%);
}

.explosion {
    top: 100%;
    width: 100px;
    height: 100px;
    background: url('../img/explosion.png') left center;
    animation: play .8s steps(4) infinite;
}

.rules-container {
    top: 0%;
    left: 0%;
    position: absolute;
    z-index: 1;
}