* {
    font-family: 'Lato', sans-serif;
}

.spofiyHover:hover {
    transition: 1.0s;
    color: #FCA311 !important;
}

.imagenCardUser {
    width: 10%;
    object-fit: cover;
}

.likeButton:hover {
    color: white;
}


/* FONT VARIATION */

.fontLight {
    font-weight: 300;
}

.fontRegular {
    font-weight: 400;
}

.fontBold {
    font-weight: 700;
}

.fontBlack {
    font-weight: 900;
}

.mt-6 {
    margin-top: 60px;
}


/* --------------- */

.marginTop-10 {
    margin-top: 10%;
}

.bg-black {
    background-color: black;
}

.text-black {
    color: black;
}


/* Yellow */

.btn-yellow {
    background-color: #FCA311;
    color: black;
}

.btn-outline-yellow {
    background-color: transparent;
    color: white;
    border: 1px solid #FCA311;
}

.btn-outline-yellow:hover {
    background-color: #FCA311;
    color: black;
}

.bg-yellow {
    background-color: #FCA311;
}

.color-yellow {
    color: #FCA311;
}

.btn-yellow:hover {
    background-color: #b9770c;
    color: black;
}

.active-yellow {
    color: black;
    background-color: #FCA311 !important;
}

.btn-black {
    background-color: black;
    color: white;
}

.btn-black:hover {
    color: #FCA311;
}

.btn-outline-black {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.btn-outline-black:hover {
    background-color: black;
    color: white;
}

.paddingNavbar {
    padding-left: 10% !important;
    padding-right: 9% !important;
}


/* Blue */

.btn-blue {
    background-color: #14213D;
    color: white;
}

.bg-blue {
    background-color: #14213D;
}

.color-blue {
    color: #14213D;
}

.btn-blue:hover {
    background-color: #0c1425;
    color: white;
}

.home-primary-bg {
    background-image: url('../images/banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.footerSpofiy {
    background-color: black;
    height: 100px !important;
}

.hoverDropdownMenu:hover {
    background-color: #FCA311;
    color: black !important;
}

.cardImage {
    height: 210px;
    object-fit: cover;
}

.playerDesktop {
    display: block;
}

.playerMobile {
    display: none;
}

.marginBottom6 {
    margin-bottom: 70px;
}

.pointer {
    cursor: pointer;
}

.mediaDetail {
    margin: 0 10px 0 5px;
}

.mediaDetailRep {
    margin-left: 0;
    margin-top: 15px !important;
}

.rotateArrow {
    transform: rotate(180deg);
}

.mostrarMobile {
    display: block;
}

@keyframes animation {
    0% {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 9, 0, 180deg);
    }
}

.rotateAnimation {
    -webkit-animation: animation 1s linear;
}

@media(max-width:1000px) {
    .titleHome {
        margin-top: 20%;
        font-size: 1.3em;
    }
    .cardImage {
        height: 240px;
    }
    .paddingNavbar {
        padding-left: 5% !important;
        padding-right: 4% !important;
    }
    .playerDesktop {
        display: none;
    }
    .playerMobile {
        display: block;
    }
    .mediaDetail {
        margin: 0;
    }
    .mediaDetailRep {
        margin: 0;
    }
    .mostrarMobile {
        display: none;
    }
    .starSelected {
        color: #FCA311 !important;
    }
}

.starSelected {
    color: rgb(243, 243, 243);
}

.starMobile {
    color: rgb(136, 133, 133) !important;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(10, 10, 10);
}